{% extends "layout.html" %}
{% block body %}
<p>
    admin menu
</p>
<p>
    options:
    <a href="{{ url_for('show_filtering') }}" class="navbutton">filter applicant data</a>
    <a href="{{ url_for('show_filtering') }}" class="navbutton">option 2</a>
    <a href="{{ url_for('show_filtering') }}" class="navbutton">option 3</a>
    <a href="{{ url_for('show_filtering') }}" class="navbutton">option 4</a>
    <a href="{{ url_for('show_filtering') }}" class="navbutton">option 5</a>
    <a href="{{ url_for('show_filtering') }}" class="navbutton">option 6</a>
</p>
{% block filtering %}
{% endblock %}

{% endblock %}
