{% extends "adminmenu.html" %}
{% block filtering %}

<form action="{{ url_for('handle_filters') }}" method=post class=add-entry>
  <dl>
    <dt>filter by:
        <dd><select required name="filtering" class="statusinput">
                <option value="" disabled selected>-- filter by --</option>
                <option value="name">name</option>
                <option value="email">email</option>
                <option value="year_of_birth">year of birth</option>
                <option value="city">city</option>
                <option value="mentor_id">mentor's id</option>
                <option value="school">school id</option>
                <option value="status">status</option>
            </select>
    <dt>search:
        <dd><input required type=text size=30 placeholder="search" name=search>
    <dt><br><input type="submit" class="submitbutton" value="filter">
  </dl>
</form>

{% block list %}{% endblock %}
{% endblock %}
