<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>
            {% if title %}
            {{ title }} | School System by OpenMinds
            {% else %}
            School System by OpenMinds
            {% endif %}
        </title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
    </head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('show_main_page') }}">School System by OpenMinds</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!-- home link -->
                    <li class="active"><a href="{{ url_for('show_main_page') }}"> Home <span class="sr-only">(current)</span></a></li>
                    <!-- admin menu link -->
                    {% if session.logged_in %}
                        <li class="active"><a href="{{ url_for('show_adminmenu')}}"> Admin Menu <span class="sr-only">(current)</span></a></li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if not session.logged_in %}
                        <a href="{{ url_for('login') }}" >log in</a>
                        {% else %}
                        <a href="{{ url_for('logout') }}" >log out</a>
                        {% endif %}

                    </li>
                    {% if not session.logged_in %}
                        <!-- form link -->
                        <a href="{{ url_for('signup') }}" class="btn btn-primary loginbtn" role="button">Sign up</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% for message in get_flashed_messages() %}
        <!-- important, don't delete class! -->
        <div class=flash>{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}
</body>
