{% extends "layout.html" %}
{% block body %}

    <!-- add_entry function needed -->
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>first name:
            <dd><input required type=text size=30 placeholder="first name" name=first_name>
        <dt>last name:
            <dd><input required type=text size=30 placeholder="last name" name=last_name>
        <dt>email:
            <dd><input required type=text size=30 placeholder="email" name=email>
        <dt>year of birth:
            <dd><input required type="number" class="numberinput" placeholder=" year " name=year_of_birth min="1970" max="1998" step="01">
        <dt>gender:
            <dd><select required name="gender" class="statusinput">
                    <option value="" disabled selected>-- gender --</option>
                    <option value="female">female</option>
                    <option value="male">male</option>
                    <option value="other">other</option>
                </select>
        <dt>city:
            <dd><select required name="city" class="statusinput">
                    <option value="" disabled selected>-- select your city or the nearest city --</option>
                    <option value="Barcelona">Barcelona</option>
                    <option value="Budapest">Budapest</option>
                    <option value="Debrecen">Debrecen</option>
                    <option value="Eger">Eger</option>
                    <option value="Győr">Győr</option>
                    <option value="Krakow">Krakow</option>
                    <option value="Madrid">Madrid</option>
                    <option value="Miskolc">Miskolc</option>
                    <option value="Paris">Paris</option>
                    <option value="Rome">Rome</option>
                    <option value="St. Petersburg">St. Petersburg</option>
                    <option value="Warsaw">Warsaw</option>
                </select>
      </dl>
    </form>

{% endblock %}
